body {
   background-color: #ecf0f1;
   text-align: center;
   margin-top: 105px;
}

.github {
   top: 0;
   right: 0;
   position: absolute;
}

.github svg {
   x: 0px;
   y: 0px;
   enable-background: new 0 0 50 50;
   width: 30px;
   margin: 20px;
}

.github svg path {
   fill-rule: "evenodd";
   clip-rule: "evenodd";
   fill: #34495e;
}

.github svg path:hover {
   fill: #2ecc71;
}

#preview {
   width: 250px;
   height: 130px;
   background-color: #3498db;
   margin: 0 auto;
   margin-bottom: 15px;
}

#inputField {
   background-color: #E6E6E6;
   border: 0;
   height: 35px;
   color: gray;
   outline: 0;
   font-size: 16pt;
   width: 150px;
   text-align: center;
   letter-spacing: .1em;
   display: block;
   margin: 0 auto;
}

#convert {
   margin-top: 15px;
   width: 150px;
   height: 30px;
   border: none;
   background: #2ecc71;
   text-decoration: none;
   color: white;
   outline: 0;
   cursor: pointer;
}

#convert:active {
   background: #27ae60;
}

code {
   margin: 20px;
   display: block;
}

a {
   text-decoration: none;
   color: #d3d7da;
   font-family: sans-serif;
}

.follow {
   position: absolute;
   bottom: 0px;
   margin-bottom: 10px;
   margin-left: -50px;
   color: #d3d7da;
}
a:hover {
   color: #2ecc71;
}

.follow a:nth-child(2):hover {
   color: #3498db;
}
